server/src/main/webapp/dhl_new_v2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions targetNamespace="http://producers.dhl.xrd.riik.ee/producer/dhl"
		xmlns:tns="http://producers.dhl.xrd.riik.ee/producer/dhl"
		xmlns="http://schemas.xmlsoap.org/wsdl/"
		
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
		
		xmlns:dhl="http://www.riik.ee/schemas/dhl"
		xmlns:dhlma="http://www.riik.ee/schemas/dhl-meta-automatic"
		xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd"
		xmlns:xrd="http://x-road.eu/xsd/xroad.xsd">
	<types>
		<schema targetNamespace="http://producers.dhl.xrd.riik.ee/producer/dhl" xmlns="http://www.w3.org/2001/XMLSchema">
			
			<import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd" />
			<import namespace="http://www.riik.ee/schemas/dhl" schemaLocation="http://www.riik.ee/schemas/dhl/dhl.xsd"/>
			<import namespace="http://www.riik.ee/schemas/dhl-meta-automatic" schemaLocation="http://www.riik.ee/schemas/dhl/dhl-meta-automatic.xsd"/>
			<import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd" />
			
			<complexType name="base64BinaryType">
				<attribute name="href" type="ref:swaRef" />
            </complexType>
            
            <simpleType name="GUID">
				<annotation>
					<documentation xml:lang="en">The representation of a GUID</documentation>
				</annotation>
				<restriction base="string">
					<pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}" />
				</restriction>
			</simpleType>
			
			<simpleType name="statusType">
				<annotation>
					<documentation>Info dokumendi edastuse oleku kohta</documentation>
				</annotation>
				<restriction base="string">
					<enumeration value="saatmisel" />
					<enumeration value="saadetud" />
					<enumeration value="katkestatud" />
				</restriction>
			</simpleType>
            
			<complexType name="institutionRefsArrayType">
				<sequence>
					<element name="asutus" type="string" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<xrd:title>Asutuse registrinumber</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="sendingOptionArrayType">
				<sequence>
					<element name="saatmisviis" type="string" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<xrd:title>Saatmisviis</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="institutionType">
				<sequence>
					<element name="regnr" type="string"/>
					<element name="nimi" type="string"/>
					<element name="saatmine" type="tns:sendingOptionArrayType"/>
					<element name="ks_asutuse_regnr" type="string" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</complexType>
			<complexType name="institutionArrayType">
				<sequence>
					<element name="asutus" type="tns:institutionType" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<xrd:title>Asutuse andmed</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="getSendingOptionsV2RequestType">
				<sequence>
					<element name="asutused" type="tns:institutionRefsArrayType" minOccurs="0" maxOccurs="1"/>
					<element name="vastuvotmata_dokumente_ootel" type="boolean" minOccurs="0" maxOccurs="1"/>
					<element name="vahetatud_dokumente_vahemalt" type="integer" minOccurs="0" maxOccurs="1"/>
					<element name="vahetatud_dokumente_kuni" type="integer" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</complexType>
			
			<element name="getOccupationList">
				<complexType>
					<sequence>
						<element name="keha" type="tns:institutionRefsType" />
					</sequence>
				</complexType>
			</element>
			<element name="getOccupationListResponse">
				<complexType>
					<sequence>
						<element name="keha" type="tns:getOccupationListV2ResponseType" />
					</sequence>
				</complexType>
			</element>
			<complexType name="getOccupationListV2ResponseType">
				<sequence>
					<element name="asutused" type="tns:base64BinaryType" />
				</sequence>
			</complexType>
			<complexType name="getOccupationListV2ResponseTypeUnencoded">
				<sequence>
					<element name="ametikohad">
						<complexType>
							<sequence>
								<element name="ametikoht" type="tns:occupationType" maxOccurs="unbounded" />
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="occupationType">
				<sequence>
					<element name="kood" type="string"/>
					<element name="nimetus" type="string"/>
					<element name="asutuse_kood" type="string"/>
					<element name="lyhinimetus" type="string"/>
					<element name="ks_allyksuse_kood" type="string" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</complexType>
			
			<element name="getSubdivisionList">
				<complexType>
					<sequence>
						<element name="keha" type="tns:institutionRefsType" />
					</sequence>
				</complexType>
			</element>
			<element name="getSubdivisionListResponse">
				<complexType>
					<sequence>
						<element name="keha" type="tns:getSubdivisionListV2ResponseType" />
					</sequence>
				</complexType>
			</element>
			<complexType name="getSubdivisionListV2ResponseType">
				<sequence>
					<element name="allyksused" type="tns:base64BinaryType" />
				</sequence>
			</complexType>
			<complexType name="getSubdivisionListV2ResponseTypeUnencoded">
				<sequence>
					<element name="allyksused">
						<complexType>
							<sequence>
								<element name="allyksus" type="tns:subdivisionType" maxOccurs="unbounded" />
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="subdivisionType">
				<sequence>
					<element name="kood" type="string"/>
					<element name="nimetus" type="string"/>
					<element name="asutuse_kood" type="string"/>
					<element name="lyhinimetus" type="string"/>
					<element name="ks_allyksuse_kood" type="string" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</complexType>
			
			<complexType name="institutionRefsType">
				<sequence>
					<element name="asutused" type="tns:base64BinaryType" />
				</sequence>
			</complexType>
			<complexType name="institutionRefsTypeUnencoded">
				<sequence>
					<element name="asutused">
						<complexType>
							<complexContent>
								<extension base="tns:institutionRefsArrayType" />
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</complexType>
			
			<element name="getSendingOptions">
				<complexType>
					<sequence>
						<element name="keha" type="tns:getSendingOptionsV2RequestType" />
					</sequence>
				</complexType>
			</element>
			<element name="getSendingOptionsResponse">
				<complexType>
					<sequence>
						<element name="keha" type="tns:institutionArrayType" />
					</sequence>
				</complexType>
			</element>
			
			<complexType name="documentRefsArrayType">
				<sequence>
					<element name="dhl_id" type="dhlma:dhlDokIDType" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<xrd:title>Dokumendi dhl_id</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="documentsArrayType">
				<sequence>
					<element name="dokument" type="dhl:dhlDokumentType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<xrd:title>Dokument</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="tagasisideArrayType">
				<sequence>
					<element name="item" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<xrd:title>Adressaadipoolne tagasiside dokumendi vastuvõtmise kohta</xrd:title>
							</appinfo>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="dhl:tagasisideType">
									<sequence>
										<element ref="dhl:metaxml" minOccurs="0" maxOccurs="1" />
										<element name="staatuse_muutmise_aeg" type="dateTime" minOccurs="0" maxOccurs="1" />
									</sequence>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</complexType>
			
			<element name="receiveDocumentsResponse">
				<complexType>
					<sequence>
						<element name="keha" type="tns:base64BinaryType" />
					</sequence>
				</complexType>
			</element>
			<complexType name="receiveDocumentsResponseTypeUnencoded">
				<complexContent>
					<extension base="tns:documentsArrayType"/>
				</complexContent>
			</complexType>
			
			<element name="receiveDocuments">
				<complexType>
					<sequence>
						<element name="keha" type="tns:receiveDocumentsV2RequestType" />
					</sequence>
				</complexType>
			</element>
			<complexType name="receiveDocumentsV2RequestType">
				<sequence>
					<element name="arv" type="integer" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title>Maksimaalne tagastatav kirjete arv, vaikimisi 10</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title>Kaust, kust dokumentid loetakse</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="edastus_id" type="string" minOccurs="0"/>
					<element name="fragment_nr" type="integer" minOccurs="0"/>
					<element name="fragmendi_suurus_baitides" type="integer" minOccurs="0"/>
				</sequence>
			</complexType>
			
			<element name="markDocumentsReceived">
				<complexType>
					<sequence>
						<element name="keha" type="tns:markDocumentsReceivedV2RequestType" />
					</sequence>
				</complexType>
			</element>
			<complexType name="markDocumentsReceivedV2RequestType">
				<sequence>
					<element name="dokumendid" type="tns:base64BinaryType"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="markDocumentsReceivedV2RequestTypeUnencoded">
				<sequence>
					<element name="dokumendid" type="tns:tagasisideArrayType"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
				</sequence>
			</complexType>
			
			<element name="markDocumentsReceivedResponse">
				<complexType>
					<sequence>
						<element name="keha" type="tns:markDocumentsReceivedV2ResponseType" />
					</sequence>
				</complexType>
			</element>
			<simpleType name="markDocumentsReceivedV2ResponseType">
				<restriction base="string"/>
			</simpleType>
			
			<element name="sendDocuments">
				<complexType>
					<sequence>
						<element name="keha" type="tns:sendDocumentsV2RequestType" />
					</sequence>
				</complexType>
			</element>
			<complexType name="sendDocumentsV2RequestType">
				<sequence>
					<element name="dokumendid" type="tns:base64BinaryType"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
					<element name="sailitustahtaeg" type="date" minOccurs="0"/>
					<element name="edastus_id" type="string" minOccurs="0"/>
					<element name="fragment_nr" type="integer" minOccurs="0"/>
					<element name="fragmente_kokku" type="integer" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="sendDocumentsV2RequestTypeUnencoded">
				<sequence>
					<element name="dokumendid" type="tns:documentsArrayType"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
					<element name="sailitustahtaeg" type="date" minOccurs="0"/>
					<element name="edastus_id" type="string" minOccurs="0"/>
					<element name="fragment_nr" type="integer" minOccurs="0"/>
					<element name="fragmente_kokku" type="integer" minOccurs="0"/>
				</sequence>
			</complexType>
			
			<element name="sendDocumentsResponse">
				<complexType>
					<sequence>
						<element name="keha" type="tns:base64BinaryType" />
					</sequence>
				</complexType>
			</element>
			<complexType name="sendDocumentsV2ResponseTypeUnencoded">
				<complexContent>
					<extension base="tns:documentRefsArrayType"/>
				</complexContent>
			</complexType>
			
			<element name="getSendStatus">
				<complexType>
					<sequence>
						<element name="keha" type="tns:getSendStatusV2Request" />
					</sequence>
				</complexType>
			</element>
			<complexType name="getSendStatusV2Request">
				<sequence>
					<element name="dokumendid" type="tns:base64BinaryType" />
					<element name="staatuse_ajalugu" type="boolean" />
				</sequence>
			</complexType>
			<complexType name="getSendStatusV2RequestTypeUnencoded">
				<sequence>
					<element name="item" maxOccurs="unbounded">
						<complexType>
							<choice>
								<element name="dhl_id" type="string" />
								<element name="dokument_guid" type="tns:GUID" />
							</choice>
						</complexType>
					</element>
					<element name="staatuse_ajalugu" type="boolean" />
				</sequence>
			</complexType>
			
			<element name="getSendStatusResponse">
				<complexType>
					<sequence>
						<element name="keha" type="tns:base64BinaryType" />
					</sequence>
				</complexType>
			</element>
			<complexType name="getSendStatusV2ResponseTypeUnencoded">
				<sequence>
					<element name="item" maxOccurs="unbounded">
						<complexType>
							<sequence>
								<element ref="dhlma:dhl_id"/>
								<element ref="dhl:edastus" minOccurs="0" maxOccurs="unbounded"/>
								<element name="staatuse_ajalugu" type="tns:statusHistoryType" />
								<element name="olek" type="string"/>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="statusHistoryType">
				<sequence>
					<element name="status" maxOccurs="unbounded">
						<complexType>
							<sequence>
								<element name="saaja">
									<complexType>
										<all>
											<element ref="dhl:regnr" minOccurs="0"/>
      										<element ref="dhl:isikukood" minOccurs="0"/>
      										<element name="allyksuse_lyhinimetus" type="string" minOccurs="0"/>
      										<element name="ametikoha_lyhinimetus" type="string" minOccurs="0"/>
										</all>
									</complexType>
								</element>
								<element name="staatuse_ajalugu_id" type="integer" />
								<element name="staatuse_muutmise_aeg" type="dateTime" />
								<element name="staatus" type="tns:statusType" />
								<element name="vastuvotja_staatus_id" type="integer">
									<annotation>
										<documentation>Info dokumendile vastuvõtja poolel määratud oleku kohta</documentation>
									</annotation>
								</element>
								<element ref="dhl:metaxml" minOccurs="0" />
								<element ref="dhl:fault" minOccurs="0" />
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			
		</schema>
	</types>
	
	<message name="getSendingOptionsV2">
		<part name="parameters" element="tns:getSendingOptions"/>
	</message>
	<message name="getSendingOptionsV2Response">
		<part name="parameters" element="tns:getSendingOptionsResponse"/>
	</message>
	<message name="receiveDocumentsV2">
		<part name="parameters" element="tns:receiveDocuments"/>
	</message>
	<message name="receiveDocumentsV2Response">
		<part name="parameters" element="tns:receiveDocumentsResponse"/>
	</message>
	<message name="sendDocumentsV2">
		<part name="parameters" element="tns:sendDocuments"/>
	</message>
	<message name="sendDocumentsV2Response">
		<part name="parameters" element="tns:sendDocumentsResponse"/>
	</message>
	<message name="markDocumentsReceivedV2">
		<part name="parameters" element="tns:markDocumentsReceived"/>
	</message>
	<message name="markDocumentsReceivedV2Response">
		<part name="parameters" element="tns:markDocumentsReceivedResponse"/>
	</message>
	<message name="getSendStatusV2">
		<part name="parameters" element="tns:getSendStatus"/>
	</message>
	<message name="getSendStatusV2Response">
		<part name="parameters" element="tns:getSendStatusResponse"/>
	</message>
	<message name="getOccupationListV2">
		<part name="parameters" element="tns:getOccupationList"/>
	</message>
	<message name="getOccupationListV2Response">
		<part name="parameters" element="tns:getOccupationListResponse"/>
	</message>
	<message name="getSubdivisionListV2">
		<part name="parameters" element="tns:getSubdivisionList"/>
	</message>
	<message name="getSubdivisionListV2Response">
		<part name="parameters" element="tns:getSubdivisionListResponse"/>
	</message>
	
	<message name="requestHeader">
		<part name="client" element="xrd:client" />
		<part name="service" element="xrd:service" />
		<part name="id" element="xrd:id" />
		<part name="userId" element="xrd:userId" />
		<part name="issue" element="xrd:issue" />
		<part name="protocolVersion" element="xrd:protocolVersion" />
	</message>
	
	<portType name="dhlPortType">
		<operation name="getSendingOptions">
			<documentation>
				<xrd:title>Asutuste saatmisviisid</xrd:title>
				<xrd:notes>Asutste toetatavate saatmisviiside loetelu</xrd:notes>
			</documentation>
			<input message="tns:getSendingOptionsV2" name="getSendingOptionsV2"/>
			<output message="tns:getSendingOptionsV2Response" name="getSendingOptionsV2Response"/>
		</operation>
		<operation name="sendDocuments">
			<documentation>
				<xrd:title>Dokumentide edastamine</xrd:title>
				<xrd:notes>Dokumentide edastamine dokumendihoidlasse</xrd:notes>
			</documentation>
			<input message="tns:sendDocumentsV2" name="sendDocumentsV2"/>
			<output message="tns:sendDocumentsV2Response"  name="sendDocumentsV2Response"/>
		</operation>
		<operation name="receiveDocuments">
			<documentation>
				<xrd:title>Uute dokumentide lugemine</xrd:title>
				<xrd:notes>Uute veel lugemata saabunud dokumentide allalaadimine dokumendihoidlast</xrd:notes>
			</documentation>
			<input message="tns:receiveDocumentsV2" name="receiveDocumentsV2"/>
			<output message="tns:receiveDocumentsV2Response" name="receiveDocumentsV2Response"/>
		</operation>
		<operation name="markDocumentsReceived">
			<documentation>
				<xrd:title>Uute dokumentide loetuks märkimine</xrd:title>
				<xrd:notes>Uute saabunud dokumentide loetuks märkimine</xrd:notes>
			</documentation>
			<input message="tns:markDocumentsReceivedV2" name="markDocumentsReceivedV2"/>
			<output message="tns:markDocumentsReceivedV2Response" name="markDocumentsReceivedV2Response"/>
		</operation>
		<operation name="getSendStatus">
			<documentation>
				<xrd:title>Saadetud dokumentide oleku kontrollimine</xrd:title>
				<xrd:notes>Kontrollib, kas saadetud dokumendid on kõigile adressaatidele edukalt edastatud</xrd:notes>
			</documentation>
			<input message="tns:getSendStatusV2" name="getSendStatusV2"/>
			<output message="tns:getSendStatusV2Response" name="getSendStatusV2Response" />
		</operation>
		<operation name="getOccupationList">
			<documentation>
				<xrd:title>Ametikohtade nimekiri</xrd:title>
				<xrd:notes>Ametikohtade nimekirja laadimine</xrd:notes>
			</documentation>
			<input message="tns:getOccupationListV2"/>
			<output message="tns:getOccupationListV2Response"/>
		</operation>
		<operation name="getSubdivisionList">
			<documentation>
				<xrd:title>Allüksuste nimekiri</xrd:title>
				<xrd:notes>Allüksuste nimekirja laadimine</xrd:notes>
			</documentation>
			<input message="tns:getSubdivisionListV2"/>
			<output message="tns:getSubdivisionListV2Response"/>
		</operation>
	</portType>
	
	<binding name="dhlSoapBinding" type="tns:dhlPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<operation name="getSendingOptions">
			<soap:operation style="document"/>
			<xrd:version>v2</xrd:version>
			<input name="getSendingOptionsV2">
				<soap:body parts="parameters" use="literal" />
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
			</input>
			<output name="getSendingOptionsV2Response">
				<soap:body parts="parameters" use="literal" />
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
			</output>
		</operation>
		<operation name="sendDocuments">
			<soap:operation style="document"/>
			<xrd:version>v2</xrd:version>
			<input name="sendDocumentsV2">
				<mime:multipartRelated>
					<mime:part>
						<soap:body  use="literal" />
						<soap:header message="tns:requestHeader" part="client" use="literal" />
						<soap:header message="tns:requestHeader" part="service" use="literal" />
						<soap:header message="tns:requestHeader" part="id" use="literal" />
						<soap:header message="tns:requestHeader" part="userId" use="literal" />
						<soap:header message="tns:requestHeader" part="issue" use="literal" />
						<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="sendDocumentsV2Response">
				<mime:multipartRelated>
					<mime:part>
						<soap:body parts="parameters" use="literal" />
						<soap:header message="tns:requestHeader" part="client" use="literal" />
						<soap:header message="tns:requestHeader" part="service" use="literal" />
						<soap:header message="tns:requestHeader" part="id" use="literal" />
						<soap:header message="tns:requestHeader" part="userId" use="literal" />
						<soap:header message="tns:requestHeader" part="issue" use="literal" />
						<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="receiveDocuments">
			<soap:operation style="document"/>
			<xrd:version>v2</xrd:version>
			<input name="receiveDocumentsV2">
				<soap:body parts="parameters" use="literal" />
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
			</input>
			<output name="receiveDocumentsV2Response">
				<mime:multipartRelated>
					<mime:part>
						<soap:body parts="parameters" use="literal" />
						<soap:header message="tns:requestHeader" part="client" use="literal" />
						<soap:header message="tns:requestHeader" part="service" use="literal" />
						<soap:header message="tns:requestHeader" part="id" use="literal" />
						<soap:header message="tns:requestHeader" part="userId" use="literal" />
						<soap:header message="tns:requestHeader" part="issue" use="literal" />
						<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="markDocumentsReceived">
			<soap:operation style="document"/>
			<xrd:version>v2</xrd:version>
			<input name="markDocumentsReceivedV2">
				<mime:multipartRelated>
					<mime:part>
						<soap:body parts="parameters" use="literal" />
						<soap:header message="tns:requestHeader" part="client" use="literal" />
						<soap:header message="tns:requestHeader" part="service" use="literal" />
						<soap:header message="tns:requestHeader" part="id" use="literal" />
						<soap:header message="tns:requestHeader" part="userId" use="literal" />
						<soap:header message="tns:requestHeader" part="issue" use="literal" />
						<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="markDocumentsReceivedV2Response">
				<soap:body parts="parameters" use="literal" />
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
			</output>
		</operation>
		<operation name="getSendStatus">
			<soap:operation style="document"/>
			<xrd:version>v2</xrd:version>
			<input name="getSendStatusV2">
				<mime:multipartRelated>
					<mime:part>
						<soap:body parts="parameters" use="literal" />
						<soap:header message="tns:requestHeader" part="client" use="literal" />
						<soap:header message="tns:requestHeader" part="service" use="literal" />
						<soap:header message="tns:requestHeader" part="id" use="literal" />
						<soap:header message="tns:requestHeader" part="userId" use="literal" />
						<soap:header message="tns:requestHeader" part="issue" use="literal" />
						<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="getSendStatusV2Response">
				<mime:multipartRelated>
					<mime:part>
						<soap:body parts="parameters" use="literal" />
						<soap:header message="tns:requestHeader" part="client" use="literal" />
						<soap:header message="tns:requestHeader" part="service" use="literal" />
						<soap:header message="tns:requestHeader" part="id" use="literal" />
						<soap:header message="tns:requestHeader" part="userId" use="literal" />
						<soap:header message="tns:requestHeader" part="issue" use="literal" />
						<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="getOccupationList">
			<soap:operation style="document"/>
			<xrd:version>v2</xrd:version>
			<input>
				<soap:body parts="parameters" use="literal" />
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
			</input>
			<output>
				<soap:body parts="parameters" use="literal" />
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
			</output>
		</operation>
		<operation name="getSubdivisionList">
			<soap:operation style="document"/>
			<xrd:version>v2</xrd:version>
			<input>
				<soap:body parts="parameters" use="literal" />
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
			</input>
			<output>
				<soap:body parts="parameters" use="literal" />
				<soap:header message="tns:requestHeader" part="client" use="literal" />
				<soap:header message="tns:requestHeader" part="service" use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId" use="literal" />
				<soap:header message="tns:requestHeader" part="issue" use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
			</output>
		</operation>
	</binding>
	
	<service name="dhlService">
		<port name="dhlHttpSoapPort" binding="tns:dhlSoapBinding">
			<soap:address location="http://TURVASERVER/cgi-bin/consumer_proxy"/>
			<xrd:title>Dokumendihoidla</xrd:title>
			<xrd:title xml:lang="en">Document repository</xrd:title>
		</port>
	</service>
	
</definitions>

